body {
	margin: 0;
	width: 350px;
	font-size: 11pt;
	cursor: pointer;
	background: #ccc;
}
.scopes, .policies, .script, .frame {
	display: flex;
}
.scopes div, .policies div {
	text-align: center;
	flex: 1;
	padding: 5px;
}
.scopes div:hover, .policies div:hover, .scopes span:hover, .policies span:hover, .script:hover, .frame:hover, .jslist > .js:hover {
	background-color: rgba(255, 255, 255, .2);
}
input {
	cursor: pointer;
	margin: 0 5px;
	height: 30px;
}
.scripts p {
	text-align: center;
}
span.domain, span.subdomain, .js {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
span.subdomain {
	flex: 1;
	opacity: .5;
	padding: 5px 0;
	text-align: right;
}
span.domain {
	flex: 1.3;
	padding: 5px 0;
	text-align: left;
}
.number {
	cursor: pointer;
	width: 18px;
	padding: 5px;
	text-align: right;
}
.jslist {
	max-height: 0;
	overflow-y: auto;
	overflow-x: hidden;
	transition: max-height 500ms ease-out;
}
input:checked + .jslist {
	max-height: 200px;
}
.js {
	color: #000;
	padding: 5px 10px 5px 20px;
	display: block;
	text-align: right;
}
.blockall .blockall, .filtered .filtered, .relaxed .relaxed, .allowall .allowall
{
	background: rgba(255,255,255,.1) !important;
}
#allowonce, #preferences {
	height: 30px;
	width: 30px;
}
.frames {
	width: 16px;
	margin-right: 5px;
}
.websocket {
	width: 16px;
	margin-right: -16px;
}
.hasframe {
	background: url("/images/hasframe.svg") center/100% no-repeat;
}
.haswebsocket {
	background: url("/images/websocket.svg") center/100% no-repeat;
}
.js.haswebsocket {
	background-size: 16px;
	background-position: 3px center;
}
.frame .js {
	flex: 1;
	padding-left: 0;
	padding-right: 0;
}
.frame img {
	height: 20px;
	padding: 5px;
}
.blocked .domain, .blocked .number, .blocked + .jslist {
	opacity: .5;
}
/* Global selected */
.global #global, .global .policies {
	background: #cf56e1;
}
/* Domain selected */
.domain #domain, .domain .policies {
	background: #f8a01b;
}
/* Site selected */
.site #site, .site .policies {
	background: #31f19d;
}
/* Page selected */
.page #page, .page .policies {
	background: #ffee00;
}
/* Block All selected */
.blockall #blockall, .blockall .scripts, .blockall.scripts {
	background: #26272a;
	color: #fff;
}
.blockall .js {
	color: #fff;
}
/* Filtered selected */
.filtered #filtered, .filtered .scripts, .filtered.scripts {
	background: #73ab55;
}
/* Relaxed selected */
.relaxed #relaxed, .relaxed .scripts, .relaxed.scripts {
	background: #559fe6;
}
/* Allow All selected */
.allowall #allowall, .allowall .scripts, .allowall.scripts, .allowonce {
	background: #d84a4a;
}
