html {
	background: var(--colorBg);
}
body {
	color: var(--colorFg);
	margin: 0 80px 50px;
}
h1,
h2,
h3,
p,
span:not(.site) {
	cursor: default;
}
h1 {
	margin-left: -20px;
	border-bottom: 1px solid var(--colorBorder);
	padding-bottom: .2em;
}
body,
h2,
.by {
	font-size: 13px;
}
.by {
	margin-left: .5em;
}
.logo {
	vertical-align: bottom;
	height: 35px;
	margin-right: 7px;
}
.github {
	display: inline-block;
	float: right;
	height: 35px;
	margin-top: 5px;
}
.github img {
	height: 60%;
	margin-left: 5px;
}
input[type=radio] {
	background-color: var(--colorBgIntense);
	border: 1px solid var(--colorBorder);
	border-radius: var(--radiusRound);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	position: relative;
	margin: 0 10px 4px 0;
	outline: none;
	height: 16px;
	width: 16px;
	-webkit-appearance: none;
	vertical-align: middle;
}
input[type=radio]:focus, input[type=checkbox]:focus {
	border-color: var(--colorBorderHighlight);
	box-shadow: 0 0 0 1px var(--colorBorderHighlight);
}
input[type=radio]:checked::before {
	content: "";
	position: absolute;
	background-color: var(--colorHighlightBg);
	border-radius: var(--radiusRound);
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
}
input[type=checkbox] {
	background-color: var(--colorBgIntense);
	border: 1px solid var(--colorBorder);
	border-radius: calc(var(--radius) * 0.33);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	position: relative;
	margin: 0 10px 4px 0;
	outline: none;
	height: 16px;
	width: 16px;
	-webkit-appearance: none;
	vertical-align: middle;
}
input[type=checkbox]:before,
input[type=checkbox]:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--colorHighlightBg);
	transform-origin: 0 0;
	transition: transform 0ms linear 0ms;
}
input[type=checkbox]:before {
	transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0);
}
input[type=checkbox]:after {
	transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(0);
	transition-delay: 0ms;
}
input[type=checkbox]:indeterminate:before {
	transform: rotate(0) translateY(37.5%) translateX(10%) scaleX(0.8) scaleY(0.25);
	transition-duration: 33.33333333ms;
}
input[type=checkbox]:checked:before {
	transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4);
	transition-duration: 33.33333333ms;
}
input[type=checkbox]:checked:after {
	transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2);
	transition-duration: 100ms;
	transition-delay: 33.33333333ms;
}
input[type=checkbox]:disabled {
	background-color: var(--colorBgDark);
	border-color: var(--colorDisabled);
}
input[type=checkbox]:disabled:before,
input[type=checkbox]:disabled:after {
	background-color: var(--colorDisabled);
}
.flex {
	display: flex;
}
.half {
	flex: 1;
	margin-right: 20px;
}
.rule-box {
	background: var(--colorBgDark);
	border: 1px solid var(--colorBorder);
	border-radius: var(--radius);
	padding: 0;
	height: 350px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.pointer {
	cursor: pointer;
}
.description {
	font-size: 85%;
	margin: 0 26px;
}
ul.scripts {
	background: var(--colorAccentBgLight);
	outline: 1px solid var(--colorAccentBg);
	border-radius: var(--radius);
	padding-inline-start: 0;
}
ul.subrules {
	background: var(--colorSecondaryLight);
	outline: 1px solid var(--colorSecondary);
	border-radius: var(--radius);
	padding-inline-start: 0;
}
li {
	list-style-type: none;
}
li.show::after {
	content: "";
	height: 5px;
	display: block;
}
li div {
	padding: 5px 10px;
}
ul li:nth-child(even) {
	background-color: var(--colorBgAlpha);
}
li ul {
	display: none;
	margin: 5px 0 0 20px;
	padding: 0;
}
.show > ul {
	display: block;
}
.show > ul:empty {
	display: none;
}
.rule {
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	width: 22px;
	height: 100%;
	transition: transform 200ms ease;
}
a:focus,
ul:focus,
button:focus,
textarea:focus,
[tabIndex]:focus {
	outline-color: var(--colorAccentBg);
}
.rule:hover,
.rule:focus,
#dropdown label:hover .rule {
	transform: scale(1.3);
}
#dropdown {
	background: #fff;
	border: 1px solid var(--colorBorder);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	margin-top: -1px; /* Compensate top border */
	margin-left: -11px; /* Compensate left border + div padding */
	position: absolute;
	top: 0;
	left: -200px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms ease-out;
}
#dropdown input {
	display: none;
}
#dropdown label {
	cursor: pointer;
	display: block;
	padding: 5px 10px;
}
#dropdown input:checked + label {
	background: var(--colorHighlightBgLight);
}
#dropdown label:hover {
	background: var(--colorHighlightBgDark) !important;
}
#dropdown input:checked + label:hover{
	background: var(--colorHighlightBg) !important;
	color: var(--colorHighlightFg);
}
#dropdown.bwl,
#dropdown.policy {
	opacity: 1;
	visibility: visible;
}
#dropdown.bwl .policy,
#dropdown.policy .bwl {
	display: none;
}
.number {
	background-color: var(--colorSecondary);
	color: white;
	border-radius: var(--radiusRounded);
	margin-left: 5px;
	padding: 0 4px;
	font-size: 9pt;
	font-weight: bold;
}
.number.scripts {
	background-color: var(--colorAccentBg);
}
.number:empty {
	display: none;
}
.delete {
	opacity: 0;
	float: right;
	background-color: var(--colorBgDarker);
	background-image: url("images/delete.svg") !important;
	border-radius: 100%;
	border: none;
	height: 19px;
	width: 19px;
	transition: 200ms ease-in;
	transform: scale(0);
	padding: 0;
}
.delete:hover {
	transform: scale(1.25) !important;
	background-color: var(--colorAccentBgDark);
}
.delete:active {
	background-color: var(--colorAccentBgDarkDark)
}
.delete:focus {
	border: 1px solid var(--colorBorderHighlight);
	box-shadow: 0 0 0 1px var(--colorBorderHighlight);
	outline: none;
}
div:hover > .delete,
.delete:focus {
	transform: scale(1);
	opacity: 1;
}
.site {
	position: relative;
	padding-right: 2px;
}
.rule-edit {
	position: absolute;
	font: inherit;
	top: 0;
	left: -6px;
	bottom: 0;
	padding: 0 5px;
	border: 1px solid var(--colorBorder);
	width: 100%;
	min-width: 50px;
	outline: none;
}
button {
	cursor: pointer;
	background: linear-gradient(var(--colorBgLightIntense), var(--colorBg));
	color: var(--colorFg);
	border: 1px solid var(--colorBorder);
	box-shadow: 0 1px var(--colorBg);
	padding: 6px 12px;
}
body > button + button {
	border-left: 0;
}
button:hover {
	background: var(--colorBg);
}
button:active {
	background: var(--colorBgDark);
}
textarea {
	border: 1px solid var(--colorBorder);
	border-radius: var(--border);
	background: var(--colorBgIntense);
	color: var(--colorFg);
	width: 100%;
	margin-bottom: 20px;
	min-height: 7em;
}
#alertbox {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in;
	background-color: var(--colorBgAlpha);
	position: fixed;
	display: grid;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: ". . ."
	                     ". a ."
	                     ". . .";
}
#alertbox .grid {
	background-color: var(--colorBg);
	border: 1px solid var(--colorBorder);
	border-top: 2px solid var(--colorBorderHighlight);
	border-radius: var(--radiusRounded);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	grid-area: a;
	display: grid;
	grid-template-rows: 1fr;
}
#alertbox h3 {
	margin-top: 0;
}
#alertbox p {
	max-height: 40vh;
	overflow: auto;
}
#alertbox p > span {
	display: block;
	padding-left: 20px;
}
#alertbox .rule-box {
	height: auto;
	max-height: 40vh;
}
#alertbox .rule-box > li {
	font-weight: bold;
	padding: 10px;
}
#alertbox .rule-box label {
	padding: 5px 10px;
	cursor: pointer;
}
#alertbox .rule-box label input {
	cursor: pointer;
	margin-top: 3px;
}
#alertbox .rule-box li ul {
	display: block;
}
#alertbox label span {
	cursor: pointer;
	flex: 1;
}
#alertbox button:last-child {
	margin: 0 10px;
}
.visible {
	visibility: visible !important;
	opacity: 1 !important;
}
@media all and (max-width: 660px) {
	.flex {
		display: block;
	}
}
