html {
	--colorBorder: #d1d0d2;
	--colorBorderHighlight: #c83838;
	--colorAccentBg: #c83838;
	--colorAccentBgDark: #b22128;
	--colorAccentBgLight: #ffb7b7;
	--colorSecondary: #73ab55;
	--colorSecondaryLight: #c2d8b7;
	--colorFg: #1e1e1e;
	--colorBg: #fafafa;
	--colorBgAlpha: rgba(255, 255, 255, 0.5);
	--colorBgLightIntense: #fff;
	--colorBgIntense: #fff;
	--colorBgDark: #dedede;
	--colorBgDarker: rgba(0, 0, 0, 0.3);
	--colorHighlightBg: #c83838;
	--colorHighlightBgDark: #dedede;
	--colorHighlightBgLight: #ffb7b7;
	--colorHighlightFg: #fff;
	--colorDisabled: #8e8e8e;
	--radius: 0;
	--radiusRound: 100px;
	--radiusRounded: 2px;
	--colorScopeGlobal: #ab74c2;
	--colorScopeDomain: #f8b11b;
	--colorScopeSite: #18c5a1;
	--colorScopePage: #e5d817;
	--colorPolicyAllow: #d84a4a;
	--colorPolicyRelaxed: #559fe6;
	--colorPolicyFiltered: #73ab55;
	--colorPolicyBlock: #26272a;
	--colorScopeGlobalLight: #d8c1e2;
	--colorScopeDomainLight: #fcde9c;
	--colorScopeSiteLight: #9ce8d9;
	--colorScopePageLight: #f9f3a3;
	font-family: sans-serif;
}
